$background: hsl(0, 0%, 7%);
$surface: hsl(0, 0%, 12%);
$primary: hsl(268, 100%, 78%);
$secondary: hsl(174, 97%, 43%);
$on-background: hsl(0, 0%, 77%);
$on-surface: hsl(0, 0%, 88%);
$on-primary: hsl(264, 29%, 3%);
$on-secondary: hsl(180, 100%, 0%);
$disabled: hsl(0, 0%, 40%);
$shadow: hsl(0, 0%, 3%);

@mixin lift($level) {
    $bg: hsla(0, 0%, 100%, 5% + $level * 2%);
    background-color: $bg;
    box-shadow: 0 0 8px $shadow;
}

@mixin primary {
    background-color: $primary;
    color: $on-primary;

    &:hover {
        filter: brightness(110%);
    }
}

@mixin disabled {
    border-color: $disabled;
    color: $disabled;
}
