$background: hsl(0, 0%, 7%);
$surface: hsl(0, 0%, 12%);
$primary: hsl(267, 95%, 76%);
$secondary: hsl(174, 97%, 43%);
$text: hsl(0, 0%, 87%);
$text2: hsl(0, 0%, 60%);
$disabled: hsl(0, 0%, 38%);
$text-on-primary: hsl(264, 29%, 3%);
$text-on-secondary: hsl(180, 100%, 0%);
$shadow: hsl(0, 0%, 3%);

@mixin lift($level) {
    $bg: hsla(0, 0%, 100%, 5% + $level * 2%);
    background-color: $bg;
    box-shadow: 0 0 8px $shadow;
}

@mixin primary {
    background-color: $primary;
    color: $text-on-primary;

    &:hover {
        filter: brightness(110%);
    }
}

@mixin disabled {
    border-color: $disabled;
    color: $disabled;
}
