@import "../helpers/colors";

:root {
    font-family: "Poppins", sans-serif;

    background-image: linear-gradient(0deg, hsl(208, 28%, 20%) 0%, hsl(208, 28%, 30%) 40%, hsl(207, 28%, 35%) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    color: color(base);
}

html,
body,
#root,
main {
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

img {
    height: auto;
    max-width: 100%;
}
