@import "../helpers/colors";

.auth-container {
  @include lift(0);
  border-radius: 16px;
  padding: 30px;
  display: flex;
  flex-direction: column;

  > h1 {
    text-align: center;
    margin-bottom: 24px;
    font-size: 20px;
  }

  > .checkbox-div {
    margin-bottom: 24px;
  }

  > input {
    &:not([type="submit"]) {
      margin-top: 8px;
      margin-bottom: 24px;
    }

    &[type="submit"] {
      @include primary;
      border-radius: 8px;
      border: none;
      font-size: 16px;
      padding: 10px;
      margin-bottom: 20px;

      &:hover {
        background-color: color(tertiary);
      }
    }
  }
}
