@import "../helpers/colors";

.auth-container {
  background-color: color(primary);
  padding: 30px;
  display: flex;
  flex-direction: column;

  > h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
  }

  .remember-me-div {
    margin-bottom: 20px;
  }

  input[type="submit"] {
    background-color: color(secondary);
    border: none;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;

    &:hover {
      background-color: color(tertiary);
    }
  }
}
