@import "../helpers/colours";

.login-container {
  min-width: 350px;
  max-width: 525px;
  box-shadow: 0 12px 15px 5px color(grayscale, ddark), 0 17px 50px 0 color(grayscale, dark);
  padding: 90px 70px;

  & > input {
    display: none;
  }

  & > label {
    font-size: 22px;
    text-transform: uppercase;
    color: lighten(color(primary, base), 25%);
    cursor: pointer;
    padding-bottom: 5px;
    margin-right: 17px;

    &:hover {
      color: hsl(289, 20%, 82%);
      color: lighten(color(primary, base), 40%);
      transition: 0.2s ease;
    }
  }

  .active {
    margin-top: 6px;
    height: 2px;
    background-color: color(primary, base);
    transition: 0.25s;
  }

  & > #login {
    $displacement: -2px;
    $width: 79px;

    &:checked {
      & ~ .active {
        width: $width;
      }

      & ~ .login-form .login-htm {
        transform: rotate(0);
      }
    }

    &:not(:checked) + label:hover ~ .active {
      width: $width;
      translate: $displacement;
    }
  }

  & > #signup {
    $displacement: 90px;
    $width: 94px;

    &:checked {
      & ~ .active {
        width: $width;
        translate: $displacement;
      }

      & ~ .login-form .signup-htm {
        transform: rotate(0);
      }
    }

    &:not(:checked) + label:hover ~ .active {
      width: $width;
      translate: $displacement;
    }
  }

  input:checked + label {
    color: color(primary, white);
    border-color: color(primary, base);
    transition: 0.7s ease;
  }

  .login-form {
    margin-top: 40px;
    position: relative;

    input[type="submit"] {
      text-transform: uppercase;
    }

    .login-htm {
      position: absolute;
    }

    & > form {
      bottom: 0;
      transform: rotateY(180deg);
      backface-visibility: hidden;
      transition: all 0.4s linear;

      & > input {
        margin-top: 15px;
        width: 100%;
        padding: 15px 21px;
        border: none;
        border-radius: 25px;
        background: rgba(255, 255, 255, 0.1);
      }

      & label {
        color: color(grayscale, llllight);
      }

      & > .form-field-label {
        position: relative;
        margin-left: 20px;
        top: -31px;
        width: 100%;
        font-size: 15px;
        user-select: none;
        pointer-events: none;
        transition: 0.4s ease-out;
      }

      & > .form-field-input:focus + .form-field-label,
      & > .form-field-input:valid + .form-field-label {
        top: -65px;
        font-size: 13px;
        color: desaturate(color(primary, base), 60%);
      }

      & > input[type="submit"] {
        cursor: pointer;
        letter-spacing: 0.5ch;
        border: 2px solid color(primary, base);
        background-color: transparent;

        &:hover {
          background-color: color(primary, base);
          box-shadow: 0 0 5px color(primary, base);
          transition: 0.3s ease-out;
        }
      }

      & > .invalid {
        pointer-events: none;
        filter: brightness(0.5) saturate(0.3);
      }

      & > .hr {
        height: 2px;
        margin: 40px 0;
        background: rgba(255, 255, 255, 0.2);
      }

      & > .footer {
        text-align: center;

        & * {
          text-decoration: none;
          cursor: pointer;
          color: rgb(208, 173, 240);

          &:hover {
            filter: brightness(120%);
            transition: 0.3s;
          }
        }
      }
    }
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 3px;
  background-color: color(grayscale, lllight);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

$switch-color: hsl(293, 100%, 15%);

input:checked + .slider {
  background-color: $switch-color;
}

input:focus + .slider {
  box-shadow: 0 0 1px $switch-color;
}

input:checked + .slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.hej {
  margin-bottom: 16px;
  display: flex;
  align-items: center;

  & > label:last-child {
    margin-left: 20px;
  }
}
