@import "../helpers/colours";

.login-container {
  min-width: 350px;
  max-width: 525px;
  box-shadow: 0 12px 15px 5px color(grayscale, ddark), 0 17px 50px 0 color(grayscale, dark);
  padding: 90px 70px;

  & > input {
    display: none;
  }

  & > label {
    font-size: 22px;
    text-transform: uppercase;
    color: lighten(color(primary, base), 25%);
    cursor: pointer;
    padding-bottom: 5px;
    margin-right: 17px;

    &:hover {
      color: hsl(289, 20%, 82%);
      color: lighten(color(primary, base), 40%);
      transition: 0.2s ease;
    }
  }

  .active {
    margin-top: 6px;
    height: 2px;
    background-color: color(primary, base);
    transition: 0.25s;
  }

  & > #login {
    $displacement: -2px;
    $width: 79px;

    &:checked {
      & ~ .active {
        width: $width;
      }

      & ~ .login-form .login-htm {
        transform: rotate(0);
      }
    }

    &:not(:checked) + label:hover ~ .active {
      width: $width;
      translate: $displacement;
    }
  }

  & > #signup {
    $displacement: 90px;
    $width: 94px;

    &:checked {
      & ~ .active {
        width: $width;
        translate: $displacement;
      }

      & ~ .login-form .signup-htm {
        transform: rotate(0);
      }
    }

    &:not(:checked) + label:hover ~ .active {
      width: $width;
      translate: $displacement;
    }
  }

  input:checked + label {
    color: color(primary, white);
    border-color: color(primary, base);
    transition: 0.7s ease;
  }

  .login-form {
    margin-top: 40px;
    position: relative;

    & > iframe {
      display: none;
    }

    .submit {
      text-transform: uppercase;
    }

    .login-htm {
      position: absolute;
    }

    & > form {
      bottom: 0;
      transform: rotateY(180deg);
      backface-visibility: hidden;
      transition: all 0.4s linear;

      & > input {
        margin-top: 15px;
        width: 100%;
        padding: 15px 21px;
        border: none;
        border-radius: 25px;
        background: rgba(255, 255, 255, 0.1);
      }

      & > label {
        position: relative;
        margin-left: 20px;
        top: -31px;
        width: 100%;
        font-size: 15px;
        user-select: none;
        pointer-events: none;
        color: color(grayscale, llllight);
        transition: 0.4s ease-out;
      }

      & > input:focus + label,
      & > input:valid + label {
        top: -65px;
        font-size: 13px;
        color: desaturate(color(primary, base), 60%);
      }

      & > .submit {
        cursor: pointer;
        letter-spacing: 0.5ch;
        border: 2px solid color(primary, base);
        background-color: transparent;

        &:hover {
          background-color: color(primary, base);
          box-shadow: 0 0 5px color(primary, base);
          transition: 0.3s ease-out;
        }
      }

      & > .invalid {
        pointer-events: none;
        filter: brightness(0.5) saturate(0.3);
      }

      & > .hr {
        height: 2px;
        margin: 40px 0;
        background: rgba(255, 255, 255, 0.2);
      }

      & > .footer {
        text-align: center;

        & * {
          text-decoration: none;
          cursor: pointer;
          color: rgb(208, 173, 240);

          &:hover {
            filter: brightness(120%);
            transition: 0.3s;
          }
        }
      }
    }
  }
}
