.checkbox-div {
  > input {
    display: none;
    position: absolute; // take it out of document flow
    opacity: 0; // hide it

    // Box.
    & + label:before {
      border-radius: 4px;
      content: "";
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 20px;
      height: 20px;
      background: $disabled;
    }

    // Box hover
    &:hover + label:before {
      filter: brightness(110%);
    }

    // Box checked
    &:checked + label:before {
      filter: brightness(110%);
    }

    // Checkmark. Could be replaced with an image
    $checkmark-color: $text;

    &:checked + label:after {
      content: "";
      position: absolute;
      left: 5px;
      top: 9px;
      background: $checkmark-color;
      width: 2px;
      height: 2px;
      box-shadow: 2px 0 0 $checkmark-color, 4px 0 0 $checkmark-color, 4px -2px 0 $checkmark-color,
        4px -4px 0 $checkmark-color, 4px -6px 0 $checkmark-color, 4px -8px 0 $checkmark-color;
      transform: rotate(45deg);
    }
  }

  label {
    position: relative;
    cursor: pointer;
    padding: 0;
    user-select: none;
  }
}
