.form-field {
  display: flex;
  flex-direction: column;

  > input {
    color: color(primary, 50%);
    font-size: 16px;
    background-color: transparent;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid color(tertiary, 30%);

    &:focus {
      outline: none;
    }

    // move placeholder above field when typing
    &:is(:focus, :not(:placeholder-shown)) + label {
      color: color(primary, 17%);
      font-size: 13px;
      top: -48px;
    }

    &[type="submit"] {
      border: none;
      background-color: color(secondary);

      &:hover {
        background-color: color(tertiary);
      }
    }
  }

  > label {
    color: color(primary, 20%);
    font-size: 16px;
    position: relative;
    top: -28px;
    user-select: none;
    pointer-events: none;
    transition: 0.4s ease-out;
  }
}
