@import "../helpers/colors";

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: $disabled;
  pointer-events: none;
  user-select: none;

  &::before,
  &::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid $disabled;
  }

  &:not(:empty)::before {
    margin-right: 0.25rem;
  }

  &:not(:empty)::after {
    margin-left: 0.25rem;
  }
}
