@import "../helpers/colors";

.navbar {
  @include lift(0);
  position: fixed;
  top: 0;
  width: 100%;

  a {
    float: left;
    padding: 16px 24px;

    &:hover {
      backdrop-filter: brightness(140%);
    }
  }

  > *:last-child {
    float: right;
    margin-right: 0;
  }
}
