@import "../helpers/colors";

.navbar {
  @include lift(0);
  position: fixed;
  top: 0;
  width: 100%;
  backdrop-filter: blur(4px);
  box-shadow: 0 0 5px 0 black(0.6);

  a {
    float: left;
    padding: 16px 24px;

    &:hover {
      backdrop-filter: brightness(125%);
    }
  }

  > *:last-child {
    float: right;
    margin-right: 0;
  }
}
