@import "../helpers/colors";

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white(0.13);
  backdrop-filter: blur(4px);
  box-shadow: 0 0 5px 0 black(0.6);

  > a {
    float: left;
    padding: 16px 24px;

    &:hover {
      background-color: white(0.1);
    }
  }

  > a:last-child {
    float: right;
    margin-right: 0;
  }
}
